{% load staticfiles %}
<!DOCTYPE html>
<html>
    <!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
       <!-- Vendor CSS -->
    </head>

    <body class="login-content" id="app">
        <!-- Login -->
        <div class="lc-block-log toggled" id="l-login">

            {% if error %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    Error,{{ msj }}
                </div>
            {% else %}
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    Iniciar sesion
                </div>
            {% endif %}

            <form method="POST">{% csrf_token %}
                <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Usuario" name="username">
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" placeholder="Contraseña" name="password">
                </div>
            </div>

            <button class="btn btn-login btn-danger btn-float flotante">
                <i class="zmdi zmdi-arrow-forward"></i>
            </button>
            </form>

        </div>


    </body>
</html>